* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf");
}
.barraContenedor {
  background-color: #9d2449;
  position: fixed;
  width: 100%;
  z-index: 90;
  top: 0;
  left: 0;
  display: flex;
  gap: 30px;
  padding: 20px;
  border-top: 3px solid #b38e5d;
  justify-content: space-between;
}

.contenedor-izquierdo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.barraContenedor h1 {
  color: white;
}

.barraContenedor p {
  color: white;
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: bold;
}
.logoOaxaca {
  width: 60px;
}

.boton-imagen {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-imagen:hover {
  transform: scale(1.09);
}
